body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url("../img/pattern.png");
    background-color: rgb(73, 158, 220);
    background-repeat: repeat;
    height: 175px;
}

header img {
    height: 70%;
}

thead {
    background-color: rgb(60, 100, 220);
    color: white;
}

footer p {
    color: grey;
}

footer .bottom-1 {
    background-image: url("../img/monitor.jpg");
    background-size: cover;
    color: white;
    height: 200px;
    width: 300px;
}

footer .bottom-2 {
    background-image: url("../img/graph.jpg");
    background-size: cover;
    color: white;
    height: 200px;
    width: 300px;
}

section .title {
    font-size: 35px;
}

section .subtitle {
    color: grey;
}

#author {
    color: rgb(33, 92, 158);
}

.row-special {
    background-color: rgb(8, 178, 220);
}
